@charset "UTF-8";
/* Timeline */
.title-et-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: #f6f9fc;
  font-family: "Open Sans", sans-serif;
  color: #525f7f;
}

h2 {
  margin: 5% 5% 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
}

h1 {
  margin: 1% 4% 2%;
  text-align: center;
  font-size: 1rem;
  font-weight: 10;
  top: 0;
}

p {
  text-align: justify;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}
.timeline__event:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n+1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n+1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #9251ac;
  letter-spacing: 1.5px;
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
}
.timeline__event__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  background: #9251ac;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9251ac;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #f6a4ec;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #f6a4ec;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f6a4ec;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 100%;
}
.timeline__event--type2:after {
  background: #555ac0;
}
.timeline__event--type2 .timeline__event__date {
  color: #87bbfe;
  background: #555ac0;
}
.timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__icon {
  background: #87bbfe;
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #87bbfe;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type2 .timeline__event__title {
  color: #555ac0;
}
.timeline__event--type3:after {
  background: #24b47e;
}
.timeline__event--type3 .timeline__event__date {
  color: #aff1b6;
  background-color: #24b47e;
}
.timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__icon {
  background: #aff1b6;
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #aff1b6;
}
.timeline__event--type3 .timeline__event__title {
  color: #24b47e;
}
.timeline__event--type3 .timeline__event__title {
  color: #555ac0;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before, .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: #f6a4ec;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #f6a4ec;
  border-right: 12px solid transparent;
  border-top: 12px solid #f6a4ec;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.hbd-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hbd-box img {
  max-width: 100%;
}

.bubble-et-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 786px) {
  .hbd-box {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 30px;
  }
  .bubble-bottom-left:before {
    border-left: 12px solid transparent;
    border-right: 24px solid #f6a4ec;
  }
}
/** Modale **/
* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  /* prend l'entièreté de l'écran*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  width: 630px;
  padding: 60px 105px 45px 105px;
  position: absolute;
  overflow: auto;
}

.modal-btn {
  width: 179px;
  height: 36px;
  background: #9251ac;
  color: #fff;
  border-radius: 60px;
  border: none;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.modal-close {
  position: relative;
  border: none;
  background-color: #fff;
  top: -35px;
  right: -480px;
  cursor: pointer;
  width: 15px;
}

.modal-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 365px;
  overflow: auto;
  align-content: flex-start;
}

.modal-gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.js-modal {
  text-decoration: none;
  color: #525f7f;
}

.js-modal2 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal3 {
  text-decoration: none;
  color: #525f7f;
}

.modal-box {
  position: fixed;
  /* prend l'entièreté de l'écran*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-box h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.js-modal4 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal5 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal6 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal7 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal8 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal9 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal10 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal11 {
  text-decoration: none;
  color: #525f7f;
}

.js-modal12 {
  text-decoration: none;
  color: #525f7f;
}

@media (max-width: 786px) {
  .modal-wrapper {
    width: 90%;
    padding: 10%;
  }
  .modal-close {
    top: -20px;
    right: -100%;
  }
  h1 {
    font-size: 0.8rem;
    margin: 20px;
  }
  h2 {
    font-size: 2rem;
  }
}
body {
  margin: 0;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|=confetti] {
  position: absolute;
}

.confetti-0 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 77%;
  opacity: 1.1404901391;
  transform: rotate(268.5006150376deg);
  animation: drop-0 4.6037505304s 0.5346256107s infinite;
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-1 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 35%;
  opacity: 0.6388657761;
  transform: rotate(212.7407037912deg);
  animation: drop-1 4.7155449409s 0.2030381056s infinite;
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 36%;
  }
}
.confetti-2 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 38%;
  opacity: 0.824493694;
  transform: rotate(86.1823676478deg);
  animation: drop-2 4.215877336s 0.8103422846s infinite;
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-3 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 1.2228210491;
  transform: rotate(335.0544171805deg);
  animation: drop-3 4.301288021s 0.6742891148s infinite;
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-4 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 98%;
  opacity: 1.2052326541;
  transform: rotate(298.9572336658deg);
  animation: drop-4 4.1611144883s 0.0063303691s infinite;
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 112%;
  }
}
.confetti-5 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 31%;
  opacity: 0.5988606439;
  transform: rotate(350.1371985434deg);
  animation: drop-5 4.0145149091s 0.6604024555s infinite;
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-6 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 0.9612680717;
  transform: rotate(187.3671372089deg);
  animation: drop-6 4.2889214432s 0.8513012031s infinite;
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-7 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 1.4918132712;
  transform: rotate(75.5214300906deg);
  animation: drop-7 4.0094989288s 0.8114793265s infinite;
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-8 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 39%;
  opacity: 1.3185124088;
  transform: rotate(23.4178195817deg);
  animation: drop-8 4.9297424775s 0.2588612721s infinite;
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-9 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 47%;
  opacity: 0.8848180924;
  transform: rotate(160.3859161742deg);
  animation: drop-9 4.7434254507s 0.6413866768s infinite;
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-10 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 96%;
  opacity: 1.4599526349;
  transform: rotate(146.0322658575deg);
  animation: drop-10 4.2637408757s 0.8377900059s infinite;
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-11 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 64%;
  opacity: 0.5142336568;
  transform: rotate(259.023616189deg);
  animation: drop-11 4.5744064457s 0.4529904541s infinite;
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-12 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 45%;
  opacity: 0.9564220802;
  transform: rotate(19.0634496495deg);
  animation: drop-12 4.3768220065s 0.8045606166s infinite;
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-13 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 33%;
  opacity: 0.9133680183;
  transform: rotate(274.675872017deg);
  animation: drop-13 4.4173760118s 0.1651772874s infinite;
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-14 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 31%;
  opacity: 1.0696548633;
  transform: rotate(102.0702742494deg);
  animation: drop-14 4.7336914998s 0.8316919988s infinite;
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-15 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 93%;
  opacity: 1.1397788774;
  transform: rotate(310.3207342982deg);
  animation: drop-15 4.5378566938s 0.0447216474s infinite;
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-16 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 76%;
  opacity: 1.0235587341;
  transform: rotate(306.8601632525deg);
  animation: drop-16 4.2695675014s 0.2570798243s infinite;
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 85%;
  }
}
.confetti-17 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 14%;
  opacity: 0.6564661602;
  transform: rotate(10.7845793139deg);
  animation: drop-17 4.5846255692s 0.7308078004s infinite;
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-18 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 54%;
  opacity: 0.7803106705;
  transform: rotate(297.9778977208deg);
  animation: drop-18 4.4270046919s 0.5637872437s infinite;
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-19 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 83%;
  opacity: 0.6359289041;
  transform: rotate(2.2466357301deg);
  animation: drop-19 4.6559529923s 0.8981167393s infinite;
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-20 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 1.1911356918;
  transform: rotate(40.8016775305deg);
  animation: drop-20 4.1436283035s 0.8075041731s infinite;
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-21 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 11%;
  opacity: 0.5871482197;
  transform: rotate(33.7864009085deg);
  animation: drop-21 4.4712260323s 0.8327617299s infinite;
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-22 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 89%;
  opacity: 0.5965714976;
  transform: rotate(24.7604430891deg);
  animation: drop-22 4.4670526379s 0.0541972424s infinite;
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-23 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 94%;
  opacity: 0.853015521;
  transform: rotate(182.8614932388deg);
  animation: drop-23 4.9610958315s 0.935111595s infinite;
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-24 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 32%;
  opacity: 0.5743690769;
  transform: rotate(210.8043069319deg);
  animation: drop-24 4.6088931696s 0.5214255506s infinite;
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-25 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 73%;
  opacity: 0.5455682837;
  transform: rotate(178.8565978877deg);
  animation: drop-25 4.186449451s 0.8102051765s infinite;
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-26 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 65%;
  opacity: 0.9012141565;
  transform: rotate(201.0840640657deg);
  animation: drop-26 4.1153445196s 0.4443235261s infinite;
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-27 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 84%;
  opacity: 1.0266413248;
  transform: rotate(136.1104582805deg);
  animation: drop-27 4.5297928312s 0.3445849118s infinite;
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-28 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 55%;
  opacity: 0.9778471319;
  transform: rotate(125.6486354602deg);
  animation: drop-28 4.0888716233s 0.156423617s infinite;
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-29 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 41%;
  opacity: 1.0486052585;
  transform: rotate(147.3775802604deg);
  animation: drop-29 4.2587781728s 0.0326371354s infinite;
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-30 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 14%;
  opacity: 0.9977456947;
  transform: rotate(235.7751994785deg);
  animation: drop-30 4.1984933513s 0.2342384623s infinite;
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 29%;
  }
}
.confetti-31 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 87%;
  opacity: 0.539862017;
  transform: rotate(75.5212885472deg);
  animation: drop-31 4.6508757589s 0.1084542912s infinite;
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-32 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 84%;
  opacity: 1.10206719;
  transform: rotate(2.6294491971deg);
  animation: drop-32 4.8647436232s 0.8459354658s infinite;
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-33 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 70%;
  opacity: 0.7372054403;
  transform: rotate(189.8521394906deg);
  animation: drop-33 4.6803950172s 0.9995983647s infinite;
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.confetti-34 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 59%;
  opacity: 0.5795514758;
  transform: rotate(251.7201744422deg);
  animation: drop-34 4.7962824612s 0.0209843505s infinite;
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 66%;
  }
}
.confetti-35 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 4%;
  opacity: 1.445495661;
  transform: rotate(69.861406568deg);
  animation: drop-35 4.5436706881s 0.7146742402s infinite;
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-36 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 1.4355553119;
  transform: rotate(162.3242416651deg);
  animation: drop-36 4.7467560935s 0.3777091116s infinite;
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 9%;
  }
}
.confetti-37 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 1.2725461619;
  transform: rotate(294.3820923459deg);
  animation: drop-37 4.6933985525s 0.3642453244s infinite;
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-38 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 56%;
  opacity: 0.8044784321;
  transform: rotate(104.468475126deg);
  animation: drop-38 4.5936107115s 0.8164782583s infinite;
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-39 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 13%;
  opacity: 0.9140433146;
  transform: rotate(312.0858303758deg);
  animation: drop-39 4.67247976s 0.2040639249s infinite;
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-40 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 40%;
  opacity: 1.4230826009;
  transform: rotate(159.2164061636deg);
  animation: drop-40 4.8687969759s 0.8624475541s infinite;
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-41 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 68%;
  opacity: 1.456672181;
  transform: rotate(0.3248490365deg);
  animation: drop-41 4.5007763453s 0.8102890623s infinite;
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.confetti-42 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 43%;
  opacity: 0.8181174283;
  transform: rotate(263.7412517063deg);
  animation: drop-42 4.5845561621s 0.0771311808s infinite;
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-43 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 11%;
  opacity: 0.5651147273;
  transform: rotate(127.5930236983deg);
  animation: drop-43 4.9593046202s 0.8797164327s infinite;
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-44 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 9%;
  opacity: 1.4210274324;
  transform: rotate(195.1167266709deg);
  animation: drop-44 4.9087877915s 0.8549303677s infinite;
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-45 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 52%;
  opacity: 1.2383265228;
  transform: rotate(68.195387214deg);
  animation: drop-45 4.0005152884s 0.880758979s infinite;
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-46 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 0.6418940125;
  transform: rotate(65.6062002967deg);
  animation: drop-46 4.2576866499s 0.5894467801s infinite;
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-47 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 34%;
  opacity: 0.9510740834;
  transform: rotate(175.7767279338deg);
  animation: drop-47 4.135663292s 0.7673180821s infinite;
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-48 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 46%;
  opacity: 1.0568340796;
  transform: rotate(115.3542785852deg);
  animation: drop-48 4.9164974941s 0.8947395522s infinite;
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-49 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 16%;
  opacity: 1.29800474;
  transform: rotate(49.2424834616deg);
  animation: drop-49 4.0505949127s 0.7008964553s infinite;
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-50 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 1.0997053839;
  transform: rotate(22.8361782456deg);
  animation: drop-50 4.3146600543s 0.5792044201s infinite;
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-51 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 11%;
  opacity: 1.389154254;
  transform: rotate(301.739715023deg);
  animation: drop-51 4.8439006717s 0.7784241186s infinite;
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-52 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 8%;
  opacity: 1.2791459124;
  transform: rotate(285.8018054983deg);
  animation: drop-52 4.1261518206s 0.1901289056s infinite;
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-53 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 6%;
  opacity: 0.7223105361;
  transform: rotate(276.5190199127deg);
  animation: drop-53 4.9727920318s 0.6566699248s infinite;
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 15%;
  }
}
.confetti-54 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 55%;
  opacity: 1.4072943797;
  transform: rotate(298.0124128221deg);
  animation: drop-54 4.0180428322s 0.8759801645s infinite;
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-55 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 1.4317440787;
  transform: rotate(280.662755411deg);
  animation: drop-55 4.893450952s 0.3999535168s infinite;
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-56 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 0.6377572882;
  transform: rotate(276.6755639261deg);
  animation: drop-56 4.2927215905s 0.3874603423s infinite;
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-57 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 1.1917961134;
  transform: rotate(160.8984316568deg);
  animation: drop-57 4.4206474614s 0.0184830565s infinite;
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-58 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 27%;
  opacity: 0.8352078187;
  transform: rotate(208.1028265339deg);
  animation: drop-58 4.2368079399s 0.7568853417s infinite;
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-59 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 94%;
  opacity: 1.0305863386;
  transform: rotate(269.8509520799deg);
  animation: drop-59 4.2608570433s 0.8856995253s infinite;
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-60 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 23%;
  opacity: 0.5850497916;
  transform: rotate(264.2322104622deg);
  animation: drop-60 4.093322602s 0.1111907589s infinite;
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-61 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 24%;
  opacity: 0.7759361324;
  transform: rotate(198.6550695278deg);
  animation: drop-61 4.4312232311s 0.3273241152s infinite;
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-62 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 96%;
  opacity: 0.9844747261;
  transform: rotate(74.5800262704deg);
  animation: drop-62 4.8279778487s 0.6597008257s infinite;
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-63 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 81%;
  opacity: 0.8961748905;
  transform: rotate(163.245808364deg);
  animation: drop-63 4.4796199108s 0.1619938797s infinite;
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 86%;
  }
}
.confetti-64 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 5%;
  opacity: 0.626992017;
  transform: rotate(100.6103972232deg);
  animation: drop-64 4.0382714787s 0.0856218765s infinite;
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-65 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 0.683996971;
  transform: rotate(230.7552483614deg);
  animation: drop-65 4.224467003s 0.315066195s infinite;
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-66 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 64%;
  opacity: 0.9207744892;
  transform: rotate(310.8290523593deg);
  animation: drop-66 4.8486630246s 0.5278968231s infinite;
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-67 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 38%;
  opacity: 0.9156644738;
  transform: rotate(346.9956257112deg);
  animation: drop-67 4.0814259688s 0.6448260877s infinite;
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-68 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 20%;
  opacity: 0.8636490494;
  transform: rotate(300.0829663802deg);
  animation: drop-68 4.3193956435s 0.3063219538s infinite;
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-69 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 81%;
  opacity: 0.853805135;
  transform: rotate(318.9013996619deg);
  animation: drop-69 4.2937936724s 0.9115666452s infinite;
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-70 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 89%;
  opacity: 0.59287294;
  transform: rotate(60.5259065914deg);
  animation: drop-70 4.7241649058s 0.168233481s infinite;
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-71 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 31%;
  opacity: 0.742620448;
  transform: rotate(76.9478900189deg);
  animation: drop-71 4.5684813974s 0.1648482741s infinite;
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-72 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 75%;
  opacity: 0.7287168617;
  transform: rotate(322.2361654018deg);
  animation: drop-72 4.0054273451s 0.6588671566s infinite;
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-73 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 81%;
  opacity: 1.1405373375;
  transform: rotate(350.7744327983deg);
  animation: drop-73 4.5944883538s 0.6154887661s infinite;
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-74 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 27%;
  opacity: 1.0632796304;
  transform: rotate(129.8284874156deg);
  animation: drop-74 4.2545480194s 0.403394756s infinite;
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-75 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 13%;
  opacity: 0.8704125576;
  transform: rotate(359.1098629103deg);
  animation: drop-75 4.5193774988s 0.1936228621s infinite;
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-76 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 0.647855168;
  transform: rotate(142.267006662deg);
  animation: drop-76 4.0653633253s 0.0174463326s infinite;
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-77 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 0.9483057854;
  transform: rotate(149.6207765195deg);
  animation: drop-77 4.8146563508s 0.211461252s infinite;
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-78 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 1.224964101;
  transform: rotate(185.1492144267deg);
  animation: drop-78 4.973327966s 0.8709510139s infinite;
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-79 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 66%;
  opacity: 1.2495557808;
  transform: rotate(178.0116182766deg);
  animation: drop-79 4.6132836772s 0.6005722853s infinite;
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-80 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 39%;
  opacity: 1.2579085528;
  transform: rotate(316.8674300405deg);
  animation: drop-80 4.6983143769s 0.4338697477s infinite;
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-81 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 0.9590951224;
  transform: rotate(276.6833551121deg);
  animation: drop-81 4.0052108392s 0.9745576665s infinite;
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-82 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 70%;
  opacity: 1.4909442295;
  transform: rotate(69.846190987deg);
  animation: drop-82 4.6880217177s 0.2071892864s infinite;
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-83 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 53%;
  opacity: 0.8801772505;
  transform: rotate(21.9883621616deg);
  animation: drop-83 4.4568132283s 0.3136836491s infinite;
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-84 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 0.9909337889;
  transform: rotate(194.4677924162deg);
  animation: drop-84 4.6061468631s 0.0863193308s infinite;
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-85 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 87%;
  opacity: 1.3165246577;
  transform: rotate(280.9460936091deg);
  animation: drop-85 4.3917906818s 0.4880207625s infinite;
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 90%;
  }
}
.confetti-86 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 46%;
  opacity: 0.745513889;
  transform: rotate(320.674728157deg);
  animation: drop-86 4.3740595007s 0.2102429336s infinite;
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-87 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 85%;
  opacity: 1.1344465963;
  transform: rotate(183.8939801593deg);
  animation: drop-87 4.1624456687s 0.6895128618s infinite;
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-88 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 54%;
  opacity: 1.4610746956;
  transform: rotate(113.7589014543deg);
  animation: drop-88 4.7819231072s 0.7004219496s infinite;
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-89 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 0.6926827646;
  transform: rotate(27.7531977861deg);
  animation: drop-89 4.9429503472s 0.4117156918s infinite;
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-90 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 65%;
  opacity: 1.3823691498;
  transform: rotate(221.1668811878deg);
  animation: drop-90 4.3944566363s 0.3992387799s infinite;
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-91 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 0.5037149908;
  transform: rotate(223.2426591947deg);
  animation: drop-91 4.6723854775s 0.3642609639s infinite;
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-92 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 1.3623394459;
  transform: rotate(168.9997472084deg);
  animation: drop-92 4.924740825s 0.2809020074s infinite;
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 101%;
  }
}
.confetti-93 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 0.7263583954;
  transform: rotate(316.6730770878deg);
  animation: drop-93 4.9484176831s 0.2632372755s infinite;
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-94 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 0.9486710789;
  transform: rotate(297.5338876111deg);
  animation: drop-94 4.8464347692s 0.7404272084s infinite;
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 105%;
  }
}
.confetti-95 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 39%;
  opacity: 0.9345275304;
  transform: rotate(200.1718043551deg);
  animation: drop-95 4.135747047s 0.8849670059s infinite;
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-96 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 50%;
  opacity: 0.5286010983;
  transform: rotate(44.1553119709deg);
  animation: drop-96 4.6352238332s 0.9159555843s infinite;
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-97 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 1.0130283719;
  transform: rotate(297.3691084113deg);
  animation: drop-97 4.8604469953s 0.3501069949s infinite;
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-98 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 64%;
  opacity: 1.237118078;
  transform: rotate(194.8371259799deg);
  animation: drop-98 4.3693651448s 0.8895066044s infinite;
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-99 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 80%;
  opacity: 1.2215097278;
  transform: rotate(317.1275023066deg);
  animation: drop-99 4.37381697s 0.6928571534s infinite;
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-100 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.6766734266;
  transform: rotate(260.8821941126deg);
  animation: drop-100 4.3106880017s 0.2209601172s infinite;
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-101 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 22%;
  opacity: 1.4731243022;
  transform: rotate(332.7180369266deg);
  animation: drop-101 4.4099633086s 0.5009204169s infinite;
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-102 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 43%;
  opacity: 0.7329460639;
  transform: rotate(63.5379152409deg);
  animation: drop-102 4.3947346748s 0.0175989031s infinite;
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-103 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 55%;
  opacity: 1.098726177;
  transform: rotate(237.5556307236deg);
  animation: drop-103 4.2417676506s 0.7419822407s infinite;
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-104 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 87%;
  opacity: 0.9800755702;
  transform: rotate(240.5264655396deg);
  animation: drop-104 4.9447739274s 0.5346089387s infinite;
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-105 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 50%;
  opacity: 1.1021761811;
  transform: rotate(27.4989696685deg);
  animation: drop-105 4.5373367072s 0.8679983933s infinite;
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-106 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 99%;
  opacity: 1.2808061681;
  transform: rotate(314.8365250552deg);
  animation: drop-106 4.4182501375s 0.5676143345s infinite;
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 112%;
  }
}
.confetti-107 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 54%;
  opacity: 0.8461753542;
  transform: rotate(86.2211622589deg);
  animation: drop-107 4.6682091265s 0.8767602994s infinite;
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-108 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 68%;
  opacity: 0.8545121155;
  transform: rotate(87.7811133363deg);
  animation: drop-108 4.7618366069s 0.7439557626s infinite;
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 74%;
  }
}
.confetti-109 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 30%;
  opacity: 1.0571627876;
  transform: rotate(341.0288906958deg);
  animation: drop-109 4.6908938647s 0.3487459547s infinite;
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-110 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 95%;
  opacity: 1.1665932361;
  transform: rotate(206.3337108023deg);
  animation: drop-110 4.0101723943s 0.6591681506s infinite;
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-111 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 31%;
  opacity: 0.7634633167;
  transform: rotate(309.4803335264deg);
  animation: drop-111 4.48112713s 0.7604668613s infinite;
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 33%;
  }
}
.confetti-112 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 22%;
  opacity: 0.7793044761;
  transform: rotate(36.7079492226deg);
  animation: drop-112 4.3351796904s 0.6988556372s infinite;
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-113 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 39%;
  opacity: 0.5552048072;
  transform: rotate(309.8831874552deg);
  animation: drop-113 4.6675984229s 0.5884220452s infinite;
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-114 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 55%;
  opacity: 0.5751771657;
  transform: rotate(323.6179944448deg);
  animation: drop-114 4.7867743058s 0.6029610285s infinite;
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-115 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 58%;
  opacity: 1.0008718797;
  transform: rotate(89.2103245519deg);
  animation: drop-115 4.6980215376s 0.8269210302s infinite;
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-116 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 88%;
  opacity: 0.5738075427;
  transform: rotate(330.9831510274deg);
  animation: drop-116 4.9197642891s 0.0499306977s infinite;
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-117 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 57%;
  opacity: 0.8962001951;
  transform: rotate(338.6421866941deg);
  animation: drop-117 4.1041223477s 0.3563233248s infinite;
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-118 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 1.3089730341;
  transform: rotate(43.1031890125deg);
  animation: drop-118 4.331455412s 0.7448497959s infinite;
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-119 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 58%;
  opacity: 1.3453755407;
  transform: rotate(116.2358816279deg);
  animation: drop-119 4.9980283332s 0.9092753255s infinite;
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-120 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 1.4094331388;
  transform: rotate(66.1929597768deg);
  animation: drop-120 4.1123432941s 0.3128860461s infinite;
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-121 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 88%;
  opacity: 0.8411507981;
  transform: rotate(31.5606895158deg);
  animation: drop-121 4.7289303521s 0.8105069863s infinite;
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-122 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 83%;
  opacity: 1.4853784767;
  transform: rotate(71.7810337875deg);
  animation: drop-122 4.4431798152s 0.6751112857s infinite;
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-123 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 3%;
  opacity: 1.1902758344;
  transform: rotate(55.1381314452deg);
  animation: drop-123 4.5221792544s 0.0669495704s infinite;
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 6%;
  }
}
.confetti-124 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 0.7625671191;
  transform: rotate(314.8144291542deg);
  animation: drop-124 4.621589424s 0.6346101624s infinite;
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 5%;
  }
}
.confetti-125 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.7155544578;
  transform: rotate(290.7286573217deg);
  animation: drop-125 4.1840061948s 0.2327087942s infinite;
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-126 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 1%;
  opacity: 0.7700724706;
  transform: rotate(65.3994591321deg);
  animation: drop-126 4.1807306138s 0.1262141223s infinite;
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 8%;
  }
}
.confetti-127 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 23%;
  opacity: 0.8384469015;
  transform: rotate(210.8518914328deg);
  animation: drop-127 4.2566317929s 0.2568965654s infinite;
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 31%;
  }
}
.confetti-128 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 33%;
  opacity: 0.6383613474;
  transform: rotate(198.3878655222deg);
  animation: drop-128 4.3031306136s 0.0238607854s infinite;
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-129 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 57%;
  opacity: 0.9312943004;
  transform: rotate(344.7460971736deg);
  animation: drop-129 4.2073272087s 0.5841101807s infinite;
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-130 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 80%;
  opacity: 1.4795722977;
  transform: rotate(1.5155390122deg);
  animation: drop-130 4.8898241632s 0.2031153222s infinite;
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-131 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 1.4633240115;
  transform: rotate(37.5662751846deg);
  animation: drop-131 4.9962352603s 0.7348722637s infinite;
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-132 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 0.7589842511;
  transform: rotate(201.4006506286deg);
  animation: drop-132 4.7924348152s 0.1432137942s infinite;
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 7%;
  }
}
.confetti-133 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 96%;
  opacity: 1.324454604;
  transform: rotate(141.8658496409deg);
  animation: drop-133 4.1574474124s 0.0440758802s infinite;
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-134 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 62%;
  opacity: 1.4645724058;
  transform: rotate(82.7427666607deg);
  animation: drop-134 4.769245271s 0.2998575806s infinite;
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-135 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 1.034958289;
  transform: rotate(14.572227946deg);
  animation: drop-135 4.4470893074s 0.2828841434s infinite;
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-136 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 23%;
  opacity: 1.228889515;
  transform: rotate(316.6206643459deg);
  animation: drop-136 4.1931785842s 0.1134938958s infinite;
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-137 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 11%;
  opacity: 0.814621482;
  transform: rotate(261.0386443deg);
  animation: drop-137 4.1045296136s 0.4156086189s infinite;
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-138 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 92%;
  opacity: 0.9163458909;
  transform: rotate(287.9704200561deg);
  animation: drop-138 4.3444488042s 0.4883421557s infinite;
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-139 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 53%;
  opacity: 1.2826097424;
  transform: rotate(143.9560489349deg);
  animation: drop-139 4.1498739074s 0.5896735s infinite;
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-140 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 1.0578667051;
  transform: rotate(201.6136430455deg);
  animation: drop-140 4.8476377546s 0.3078036427s infinite;
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 39%;
  }
}
.confetti-141 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 1.2225207334;
  transform: rotate(307.0773252095deg);
  animation: drop-141 4.8258651131s 0.8589224605s infinite;
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-142 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 45%;
  opacity: 0.5182053289;
  transform: rotate(242.2754567135deg);
  animation: drop-142 4.5057705835s 0.3692812266s infinite;
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-143 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 83%;
  opacity: 0.9340858924;
  transform: rotate(89.398990048deg);
  animation: drop-143 4.9061404128s 0.6502102009s infinite;
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 94%;
  }
}
.confetti-144 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 91%;
  opacity: 1.005970839;
  transform: rotate(45.8473288616deg);
  animation: drop-144 4.4045649499s 0.5734607977s infinite;
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 99%;
  }
}
.confetti-145 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 0.8717969682;
  transform: rotate(140.0049533298deg);
  animation: drop-145 4.8652142146s 0.6205983312s infinite;
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-146 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 1.2923193282;
  transform: rotate(84.7707914213deg);
  animation: drop-146 4.1905994147s 0.5639266506s infinite;
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-147 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 44%;
  opacity: 1.1486115184;
  transform: rotate(282.6439413849deg);
  animation: drop-147 4.9943053203s 0.2823185316s infinite;
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-148 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 3%;
  opacity: 1.1019501545;
  transform: rotate(263.5724510369deg);
  animation: drop-148 4.9905936554s 0.2733061328s infinite;
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-149 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 96%;
  opacity: 0.6813586987;
  transform: rotate(224.6393293579deg);
  animation: drop-149 4.7008581174s 0.0258866746s infinite;
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-150 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 35%;
  opacity: 1.228997222;
  transform: rotate(227.8178962429deg);
  animation: drop-150 4.7960372955s 0.0775690647s infinite;
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 41%;
  }
}/*# sourceMappingURL=style.css.map */